.containter {
  height: 100vh;
  z-index: -1;
  width: 100vw;
  .frame_selection {
    width: 100%;
    height: 100%;
    padding: 10px;

    .option {
      width: 15%;
      font-size: 15px;
      p {
        font-size: 20px;
        font-weight: 700;
        font-style: "Open Sans";
      }
      div {
      }
    }
  }
  .content {
    position: fixed;
  }
}
