.small-hoz-card {
  display: flex;
  flex-direction: row;
  &:first-child {
    margin-left: 0;
  }
  .small-hoz {
    width: 100%;
    padding: 0;
    img {
      width: 150px;
      height: 180px;
      border: 0;
    }
  }
  .card-small-hoz {
    padding: 0px 10px;
    padding-bottom: 10px;
    .description {
      margin-bottom: 10px;
      width: 180px;
      h3 {
        margin-block-end: 0.3em;
        margin-block-start: 0.5em;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        &:hover {
          background: -webkit-linear-gradient(#3b82f6, #d946ef);
          -webkit-background-clip: text;
          font-weight: bold;
          -webkit-text-fill-color: transparent;
        }
      }
      p {
        color: #464646;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 14px;
      }
    }
    .footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 30px;
        border-radius: 50%;
      }
      .title {
        margin-left: 15px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        .name {
          font-size: 14px;
          &:hover {
            color: #3b82f6;
          }
        }
        .time {
          display: flex;
          flex-direction: row;
          gap: 5px;
          align-items: center;
          color: #959595;
          font-size: 12px;
        }
      }
    }
  }
}
