.small-verc-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
  background: linear-gradient(white, white) padding-box, linear-gradient(to bottom, #3b82f6, #d946ef) border-box;
  border-radius: 10px;
  border: 2px solid transparent;
  filter: drop-shadow(0px 20px 50px rgba(18, 17, 39, 0.08));
  cursor: pointer;
  /* width: 1000px; */
  min-height: 180px;
  margin: 20px;
  .thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:first-child {
    margin-left: 0;
  }
  .small-verc {
    width: 100%;
    padding: 0;
    img {
      width: 150px;
      height: 150px;
      border: 0;
    }
  }
  .card-small-verc {
    padding: 0px 10px;
    padding-bottom: 10px;
    .description {
      margin-bottom: 10px;
      h3 {
        margin-block-end: 0.3em;
        margin-block-start: 0.5em;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        &:hover {
          color: #3b82f6;
          background: -webkit-linear-gradient(#3b82f6, #d946ef);
          -webkit-background-clip: text;
          font-weight: bold;
          -webkit-text-fill-color: transparent;
        }
      }
      p {
        color: #464646;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 14px;
      }
    }
    .footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 30px;
        border-radius: 50%;
      }
      .title {
        margin-left: 15px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        .name {
          font-size: 14px;
          &:hover {
            color: #3b82f6;
          }
        }
        .time {
          display: flex;
          flex-direction: row;
          gap: 5px;
          align-items: center;
          color: #959595;
          font-size: 12px;
        }
      }
    }
  }
}
