.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, #3b82f6, #d946ef) border-box;
  border-radius: 10px;
  border: 2px solid transparent;
  filter: drop-shadow(0px 20px 50px rgba(18, 17, 39, 0.08));
  cursor: pointer;
  width: 1000px;
  min-height: 180px;
  margin: 20px;
  // &:hover {
  //   transition: all ease-in 0.3s;
  //   transform: scale(1.05);
  //   margin: 30px;
  // }
  .card-fullWidth {
    padding: 20px;

    .content {
      .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          width: 50px;
          border-radius: 50%;
        }
        .title {
          margin-left: 10px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .name {
            font-size: 16px;
            &:hover {
              color: #3b82f6;
            }
          }
          .time {
            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;
            color: #959595;
            font-size: 14px;
          }
        }
      }
      .description {
        .title {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .contents_short {
          color: #464646;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-size: 14px;
          //   &:hover {
          //     display: block;
          //     overflow: visible !important;
          //   }
        }
      }
    }
  }
  .thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    // background: linear-gradient(to right, #3b82f6, #d946ef);
    padding: 10px;
    img {
      height: 100%;
      max-height: 200px;
      width: 200px;
      object-fit: scale-down;
      object-position: center center;
      background: linear-gradient(white, white) padding-box,
        linear-gradient(to bottom, #3b82f6, #d946ef) border-box;
      border-radius: 10px;
      border: 10px solid transparent;
    }
  }
}
