.mainNavBar {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1030;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  height: 48px;
  display: flex;
  justify-content: center;
  .container {
    margin: auto;
    width: 100%;
    align-items: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    box-sizing: border-box;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-positive: 1;
    flex-grow: 1;
    .left {
      display: flex;
      justify-content: center;
      .homeBtn {
        flex-direction: row;
        text-decoration: none;
        display: flex;
        gap: 10px;
        padding: 10px 20px;
        &:hover {
          color: #3b82f6;
        }
        .logo {
          background: -webkit-linear-gradient(#3b82f6, #d946ef);
          -webkit-background-clip: text;
          font-weight: bold;
          font-size: 20px;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .center {
      padding-left: 20px;
      display: flex;
      align-items: center;
      flex-grow: 1;
      // margin-right: 8px;
      padding-right: 8px;
      // border-right: 1px solid #edeff1;
      // border-left: 1px solid #edeff1;
    }
    .right {
      flex-grow: 0;
      margin: auto;
      display: flex;
      align-items: center;
      margin-right: 10px;

      .headerUserDropdown {
        .dropdownUserBtn {
          box-shadow: none;
          flex-direction: row;
          text-align: left;
          width: 100%;
          display: flex;
          align-items: center;
          border: 1px solid transparent;
          border-radius: 4px;
          padding: 2px 0;
          position: relative;
          min-height: 32px;
          margin-left: 8px;
          &:hover,
          &focus {
            border-color: #edeff1;
            outline: none;
            cursor: pointer;
          }
          .container {
            display: flex;
            flex-direction: row;
            align-items: center;
            .left {
              align-items: center;
              display: flex;
              margin-left: 8px;
              text-align: left;
              width: 175px;
              justify-content: flex-start;
              .avatarInfo {
                position: relative;
                height: 100%;
                margin-right: 5px;
                .avatar {
                  position: relative;
                  border-radius: 4px;
                  float: left;
                  max-height: 24px;
                  max-width: 24px;
                  height: 24px;
                  width: 24px;
                  .background {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: #edeff1;
                  }
                  .userAvatar {
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    img {
                      width: 100%;
                      transform-origin: bottom center;
                      display: block;
                      transform: scale(1.3);
                      border-radius: 50%;
                      -webkit-clip-path: polygon(
                        0 68.22%,
                        12.12% 68.22%,
                        12.85% 71.49%,
                        13.86% 74.69%,
                        15.14% 77.79%,
                        16.69% 80.77%,
                        18.49% 83.6%,
                        20.54% 86.26%,
                        22.8% 88.73%,
                        25.28% 91%,
                        27.94% 93.04%,
                        30.77% 94.85%,
                        33.75% 96.4%,
                        36.85% 97.68%,
                        40.05% 98.69%,
                        43.32% 99.42%,
                        46.65% 99.85%,
                        50% 100%,
                        53.35% 99.85%,
                        56.68% 99.42%,
                        59.95% 98.69%,
                        63.15% 97.68%,
                        66.25% 96.4%,
                        69.23% 94.85%,
                        72.06% 93.04%,
                        74.72% 91%,
                        77.2% 88.73%,
                        79.46% 86.26%,
                        81.51% 83.6%,
                        83.31% 80.77%,
                        84.86% 77.79%,
                        86.14% 74.69%,
                        87.15% 71.49%,
                        87.88% 68.22%,
                        100% 68.22%,
                        100% 0,
                        0 0
                      );
                      clip-path: polygon(
                        0 68.22%,
                        12.12% 68.22%,
                        12.85% 71.49%,
                        13.86% 74.69%,
                        15.14% 77.79%,
                        16.69% 80.77%,
                        18.49% 83.6%,
                        20.54% 86.26%,
                        22.8% 88.73%,
                        25.28% 91%,
                        27.94% 93.04%,
                        30.77% 94.85%,
                        33.75% 96.4%,
                        36.85% 97.68%,
                        40.05% 98.69%,
                        43.32% 99.42%,
                        46.65% 99.85%,
                        50% 100%,
                        53.35% 99.85%,
                        56.68% 99.42%,
                        59.95% 98.69%,
                        63.15% 97.68%,
                        66.25% 96.4%,
                        69.23% 94.85%,
                        72.06% 93.04%,
                        74.72% 91%,
                        77.2% 88.73%,
                        79.46% 86.26%,
                        81.51% 83.6%,
                        83.31% 80.77%,
                        84.86% 77.79%,
                        86.14% 74.69%,
                        87.15% 71.49%,
                        87.88% 68.22%,
                        100% 68.22%,
                        100% 0,
                        0 0
                      );
                    }
                  }
                }
                .activeStatus {
                  fill: #46d160;
                  height: 50%;
                  left: 59%;
                  position: absolute;
                  top: 59%;
                  width: 50%;
                }
              }
              .userInfo {
                display: flex;
                flex-direction: column;
                .userName {
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 16px;
                  color: #1c1c1c;
                  display: block;
                  white-space: nowrap;
                }
                .karma {
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 16px;
                  color: #a8aaab;
                  i {
                    color: #ff4500;
                    font-size: 12px;
                    margin-right: 2px;
                    vertical-align: middle;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.icGroup {
  display: flex;
  gap: 10px;
  span {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
  .icNotice {
    div {
      height: 32px;
      width: 32px;
      box-sizing: border-box;
      position: relative;
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      span {
        background: #3b82f6;
        border-radius: 12px;
        box-shadow: 0 0 0 2px var(--newCommunityTheme-body);
        box-sizing: border-box;
        color: #fff;
        font-size: 10px;
        font-weight: 700;
        height: 16px;
        left: 20px;
        line-height: 16px;
        padding: 0 4px;
        position: absolute;
        text-align: center;
        top: 0;
        vertical-align: middle;
        min-width: 16px;
        width: auto;
        z-index: 1;
      }
      i {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
  .upgrade {
    width: fit-content;
    background-color: rgb(255, 200, 0);
    display: flex;
    position: relative;
    border-radius: 50px;
    height: 32px;
    min-width: 32px;
    padding: 0 10px;
    color: #1c1c1c;

    span {
      font-size: 14px;
      font-weight: 500;
      margin-left: 10px;
      white-space: nowrap;
      width: fit-content;
    }
  }
  .icAdd {
    background-color: #edeff1;
    border-radius: 10px;
    padding: 0 10px;
    height: 32px;
    // margin-left: 20px;
    width: fit-content;
    color: #1c1c1c;
    span {
      width: fit-content;
      font-size: 14px;
      font-weight: 500;
      margin-left: 10px;
      white-space: nowrap;
    }
  }
}

.dropDownUserMenu {
  background-color: inherit !important;
  padding: 0 !important;
  .menu {
    padding: 16px 0px;
    border-bottom: 1px solid rgb(230, 230, 230);
    width: 100%;
    &:last-child {
      padding-bottom: 0;
    }
    a {
      text-decoration: none;
    }
    .logoutBtn {
      box-shadow: none;
      cursor: pointer;
      width: 100%;
    }
    .item {
      padding: 8px 24px;
      color: rgba(117, 117, 117, 1);
      line-height: 20px;
      font-size: 14px;
      font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 400;
      &:hover {
        color: #1b1b1b;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
      div {
        display: flex;
        align-items: center;
      }
      .content {
        margin-left: 16px;

        p {
          max-height: 20px;
          -webkit-line-clamp: 1;
          word-break: break-all;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          text-overflow: ellipsis;
          font-size: 16px;
          margin-block-start: 0;
          margin-block-end: 0;
          color: inherit;
        }
      }
    }
  }
}

.dropDownUserMenuContent {
  justify-content: flex-start !important;
  flex-direction: column;
  width: 264px !important;
  height: auto !important;
  max-height: 573px !important;
  right: 2px !important;
  top: 45.5px !important;
  background-color: #fff !important;
  position: absolute !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  box-shadow: 0px 1px 4px rgb(230, 230, 230);
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px;
  border-top: 1px solid #edeff1;
  -ms-flex-pack: end;
  justify-content: flex-end !important;
  margin-top: 4px;
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}

.notes {
  box-sizing: border-box;
  color: #878a8c;
  display: block;
  height: 40px;
  width: 100%;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: unset;
  min-height: 40px;
  padding: 12px 20px;
  span {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}

.signupBtn {
  background-color: #edeff1;
  border-color: transparent;
  color: #000;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
  border-radius: 9999px;
  width: 120px;
  cursor: pointer;
}

.loginBtn {
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
  border-radius: 9999px;
  width: 120px;
  background: -webkit-linear-gradient(#3b82f6, #d946ef);
  color: #fff;
  cursor: pointer;
}
