.form {
  margin: auto;
  padding: auto;
  border-radius: 24px;
  border: 1px solid #dfe4fe;
  min-height: 743px;
  min-width: 1200px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 486px;
  filter: drop-shadow(0px 0px 1px #17328e);
  .art {
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      display: flex;
      align-items: center;
      flex-direction: column;
      p {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 24px;
        line-height: 200%;
        color: #ffffff;
        margin: 0;
        margin-top: -60px;
      }
    }
  }
  .paper {
    background-color: #ffffff;
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 0px 24px 24px 0px;
    box-shadow: 0px 48px 48px -6px #17328e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 64px;
    gap: 32px;
    p {
      font-family: Noto Sans, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 33px;
      display: flex;
      align-items: center;
      color: #3949ab;
    }
    .frame_mail_pass {
      width: 100%;
      display: flex;
      flex-direction: column;
      //   align-items: flex-end;
      padding: 0px;
      gap: 16px;

      div {
        font-family: "Open Sans";
        font-style: normal;
        position: relative;
        i {
          position: absolute;
          top: 52%;
          transform: translate(0, -50%);
          margin-left: 10px;
        }
        .icon {
          padding: 10px;
          min-width: 40px;
        }
        .inputField {
          width: 100%;
          padding: 10px;
          padding-left: 40px;
        }
      }
      .validationText {
        color: red;
        margin: 0;
        align-self: start;
      }
      p {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #6f74dd;
        align-self: flex-end;
      }
    }
    .login_options {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;
      gap: 16px;
      .separate_other {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #828282;
        margin-bottom: 0;
        line-height: 18px;
        margin-top: 8px;
        z-index: 2;
        .hoz_line {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 50%;
          height: 2px;
          transform: translate(-50%, -50%);
          background-color: #828282;
          z-index: 1;
        }
      }
      .login_button {
        &:hover {
          cursor: pointer;
          box-shadow: 0 0px 1px hsl(0deg, 0%, 0% / 20%),
            0 1px 2px hsl(0deg, 0%, 0% / 20%);
        }
        border: 1px solid #fff;
        width: 100%;
        background: #3949ab;
        border-radius: 40px;
        padding: 11px 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: center;

        /* Palette / jnt-white-color */

        color: #ffffff;
      }
      .groupBtn {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 8px;
        .oAuth2Btn {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0px 24px;
          gap: 8px;
          width: 114px;
          height: 40px;
          border: 1px solid #3949ab;
          border-radius: 40px;
          color: #3949ab;

          &:hover {
            cursor: pointer;
            background: linear-gradient(to bottom, #3949ab, #a78af9);
            box-shadow: 0 0px 1px hsl(0deg, 0%, 0% / 20%),
              0 1px 2px hsl(0deg, 0%, 0% / 20%);
            border: 1px solid #fff;
            color: #fff;
          }
          .fa {
            color: inherit;
          }
          p {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-align: center;
            color: inherit;
            /* Schemas / jnt-primary-color */
          }
        }
      }
      .BottomText {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #828282;
        margin-bottom: 0;
        font-family: Noto Sans, sans-serif;
        line-height: 18px;
        margin-top: 8px;
        z-index: 2;
        .BottomLink {
          font-family: IBMPlexSans, sans-serif;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.5px;
          line-height: 24px;
          text-transform: uppercase;
          color: #0079d3;
          text-decoration: none;
        }
      }
    }
  }
}
