.container {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 1rem 15px;
  height: calc(100vh - 48px);
  .editor {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    .input {
      margin-bottom: 22px;
      input {
        width: 100%;
      }
    }
    .saveStatus {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      div {
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        span {
          color: #777;
          display: inline-block;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: text-bottom;
          white-space: nowrap;
          font-size: 14px;
          font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
        }
      }
    }
    .publishContainer {
      display: flex;
      align-items: center;
      margin-bottom: 22px;
      button {
        margin-left: 2rem;
        &:hover {
          cursor: pointer;
        }
      }
      .tags {
        display: flex;
        flex-grow: 1;
        border-radius: 8px;
        padding: 2px;
        background-color: #fff;
        align-items: center;
        box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
        input {
          box-shadow: none;
          border: 0;
          margin-left: 10px;
          flex-grow: 1;
          &:hover {
            margin: 0;
            margin-left: 10px;
            border: 0;
            box-shadow: none;
          }
          &:focus {
            margin: 0;
            margin-left: 10px;
            border: none;
          }
          &:focus-within {
            border: 0;
            outline: 0;
            box-shadow: none;
          }
        }
      }
      .inputTags {
        flex-grow: 1;
      }
      .tag {
        background-color: #f4f4f5;
        border-color: #e9e9eb;
        color: #909399;
        margin-left: 0.5rem;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0 10px;
        border-radius: 4px;
        white-space: nowrap;
        box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);

        i {
          font-size: 10px;
          margin-left: 10px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .mdEditor {
      flex-grow: 1;
      box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
      flex-basis: 100%;
      max-height: calc(100vh - 254px);
    }
  }
  .statusBar {
    display: flex;
    font-weight: 700;
    color: #0b1a33;
    padding: 8px 10px;
    font-size: 12px;
    text-align: right;
    .uploading {
      flex-grow: 1;
      text-align: left;
      margin-left: 0;
    }
    span {
      display: inline-block;
      min-width: 4em;
      margin-left: 1em;
    }
    .lines {
      &::before {
        content: 'lines: ';
      }
    }
    .words {
      &::before {
        content: 'words: ';
      }
    }
  }
}

.form {
  margin: auto;
  padding: 64px;
  width: auto !important;
  height: auto !important;
  color: black;
}

.newCollectionForm {
  position: relative;
  .body {
    min-height: 550px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    .dump {
      max-width: 700px;
      width: 552px;
      padding: 5px 20px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      display: flex;
      .content {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        .header {
          padding-bottom: 30px;
          h2 {
            letter-spacing: -0.014em;
            line-height: 28px;
            font-size: 22px;
            font-weight: 700;
            color: rgba(41, 41, 41, 1);
          }
        }
        .form {
          text-align: left;
          margin: 0;
          padding: 0;
          .title {
            margin-bottom: 32px;

            .input {
              border-color: rgb(204, 204, 204);
              border-width: 0px 0px 1px;
              border-style: solid;
              display: flex;
              width: 100%;
              input {
                outline: 0px;
                border-width: 0px;
                text-align: inherit;
                width: 100%;
                line-height: inherit;
                padding: 4px 0px;
                font-weight: inherit;
                font-family: inherit;
                font-size: inherit;
                -webkit-tap-highlight-color: transparent;
                margin: 0 !important;
                max-height: 50px;
                box-shadow: none !important;
                margin-left: 10px;
                border: none !important;
              }
            }

            .count {
              margin-top: 4px;
              justify-content: space-between;
              display: flex;
              .validation {
                font-size: 13px;
                color: rgba(117, 117, 117, 1);
                line-height: 20px;
              }
              .num {
                font-size: 13px;
                color: rgba(117, 117, 117, 1);
                line-height: 20px;
                span {
                  color: rgb(25, 25, 25);
                }
              }
            }
          }
          .description {
            padding-top: 20px;
            padding-bottom: 20px;
            button {
              margin: 0;
              padding: 0;
              font-weight: inherit;
              letter-spacing: inherit;
              font-family: inherit;
              border: inherit;
              font-size: inherit;
              fill: inherit;
              color: inherit;
              box-shadow: none;
              cursor: pointer;
              &:hover {
                text-decoration: underline;
              }
              p {
                color: rgb(26, 137, 23);
                font-size: 16px;
                margin: 0;
                line-height: 24px;
              }
            }
          }
        }
      }
      .action {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        margin-top: 50px;
        width: 100%;
        .submitBtn {
          background-color: #3b82f6;
          color: white;
        }
      }
    }
  }
  i {
    position: absolute;
    right: 18px;
    top: 18px;
  }
}
