.medium-card {
  //   min-height: 150px;
  display: block;
  box-shadow: 0px 20px 35px 0px #12112714;
  filter: none;
  &:first-child {
    margin-left: 0;
  }
  .medium {
    width: 100%;
    padding: 0;
    img {
      width: 350px;
      height: 150px;
      border: 0;
      background: none;
    }
  }
  .card-medium {
    padding: 0px 20px;
    padding-bottom: 10px;
    &.hover {
      background-color: #f6f7f8;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .description {
      margin-bottom: 10px;
      h3 {
        margin-block-end: 0.3em;
        margin-block-start: 0.5em;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      p {
        color: #464646;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 14px;
        word-break: break-all;
      }
    }
    .footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 30px;
        border-radius: 50%;
      }
      .title {
        margin-left: 15px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:hover {
          color: #3b82f6;
        }
        .name {
          font-size: 14px;
        }
        .time {
          display: flex;
          flex-direction: row;
          gap: 5px;
          align-items: center;
          color: #959595;
          font-size: 12px;
        }
      }
    }
  }
}
h3.hover {
  color: #3b82f6;
  background: -webkit-linear-gradient(#3b82f6, #d946ef);
  -webkit-background-clip: text;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
}
